.logo {
    margin: 0 auto;
    margin-bottom: 40px;
}
.ssoSection {
    display: flex;
    width: 100%;
    align-items: center;
    gap: 16px;
}

.ssoButton {
    flex-grow: 1;
}
.submitButton {
    width: 100%;
}

.loginLayout {
    display: grid;
    grid-gap: 30px;
    padding-top: clamp(40px, 180px, 180px);
}
.inputLayout {
    display: grid;
    grid-gap: 25px;
}

.title {
    margin-bottom: 10px;
}

.separatorBlock {
    width: 100%;
    text-align: center;
    position: relative;
}

.separatorText {
    position: absolute;
    transform: translate(-50%, -50%);
    background-color: var(--bg-primary);
    padding: 5px;
    color: rgb(var(--gray-300));
}

.separator {
    width: 100%;
    margin: 0;
    height: 1px;
    border: unset;
    background-color: rgb(var(--gray-300));
}
